[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto

[color "branch"]
  current = green
  remote = yellow

[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  co = checkout
  st = status -sb
  br = branch
  ci = commit
  fo = fetch origin
  d = !git --no-pager diff
  dt  = difftool
  stat = !git --no-pager diff --stat

  # Clean merged branches
  sweep = !git branch --merged main | grep -v 'main$' | xargs git branch -d && git remote prune origin

  m = checkout main

  # Removes a file from the index
  unstage = reset HEAD --

[help]
  autocorrect = 1

[push]
  default = simple
  autoSetupRemote = true

# [branch "main"]
#   mergeoptions = --no-edit

[pull]
  rebase = false

[init]
  defaultBranch = main
