init-version=0.0.0

# Defaults to warn
loglevel=error

prefix=${HOME}/.node_modules

# Setup Github package registry
@lhaley2011:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
